/*nav*/
.navbar{
    background-color:  rgb(10, 10, 10) !important;
    color: #faf8f8;
}

/* Footer */
 .footer {
    background: #0a0a0a;
    color: white;
    padding-top: 50px;
    margin-top: 50px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px 40px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-box h2 {
    color: #00bfff;
    font-size: 28px;
    margin-bottom: 15px;
}

.footer-box h3 {
    font-size: 20px;
    margin-bottom: 20px;
     color: #00bfff;
}

.footer-box p {
    color: #b8c0cc;
    line-height: 1.7;
}

.footer-box a {
    display: block;
    color: #b8c0cc;
    text-decoration: none;
    margin-bottom: 12px;
    transition: 0.3s;
}

.footer-box a:hover {
    color: #00bfff;
    transform: translateX(5px);
} 

/* Social links */
.social-links a {
    display: inline-block;
    margin-right: 10px;
}


/* Bottom */
.footer-bottom {
    border-top: 1px solid #293241;
    text-align: center;
    padding: 20px;
}

.footer-bottom p {
    margin: 0;
    color: #8d99ae;
}

.logo{
    border: #111827;
    border-radius: 50px;
}


/* contact */
 .contact-section {
            padding: 80px 0;
        }

        .contact-card {
            border: none;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
        }

        .contact-info {
            background: #198754;
            color: white;
            padding: 40px;
        }

        .contact-info h2 {
            font-weight: 700;
        }

        .contact-item {
            display: flex;
            align-items: center;
            margin: 25px 0;
        }

        .contact-item i {
            width: 45px;
            height: 45px;
            background: white;
            color: #198754;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
        }

        .contact-form {
            padding: 40px;
            background: white;
        }

        .form-control {
            padding: 13px;
            border-radius: 10px;
            background-color: rgb(142, 138, 138);
        }

        .form-control:focus {
            border-color: #198754;
            box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.15);
        }

        .btn-contact {
            padding: 13px 30px;
            border-radius: 10px;
            font-weight: 600;
        }

        .social-icons a {
            color: white;
            font-size: 20px;
            margin-right: 15px;
            transition: 0.3s;
        }

        .social-icons a:hover {
            color: #d1e7dd;
        }
.form-label{
}


        /* services */
          .services-section {
        background: rgb(130, 129, 129);
    }

    .service-card {
        background: #7b7979;
        border-radius: 18px;
        border: 1px solid #706e6e;
        transition: all 0.3s ease;
        position: relative;
        overflow: hidden;
    }

    .service-card::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: #141414;
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.3s;
    }

    .service-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
    }

    .service-card:hover::before {
        transform: scaleX(1);
    }

    .service-icon {
        width: 65px;
        height: 65px;
        background: #fff0f1;
        color: #151415;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 27px;
        transition: 0.3s;
    }

    .service-card:hover .service-icon {
        background: #948f90;
        color: white;
        transform: rotateY(180deg);
    }

    .service-link {
        text-decoration: none;
        color: #131313;
        font-weight: 600;
    }

    .service-link:hover {
        color: #171616;
    }

    .blue{
        background-image: url(blue/5.jpg);
        background-attachment: fixed;
        background: fixed;
        background-position: center;
        background-size: 100vh;
    }


    /* HERO */ .about-hero { min-height: 450px; background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.unsplash.com/photo-1503376780353-7e6692767b70?auto=format&fit=crop&w=1600&q=80"); background-size: cover; background-position: center; display: flex; align-items: center; color: white; } .about-hero h1 { font-size: 60px; font-weight: 800; } /* ABOUT */ .about-section { padding: 90px 0; } .about-img { width: 100%; height: 450px; object-fit: cover; border-radius: 20px; } .about-text h2 { font-size: 42px; font-weight: 800; } .red { color: #dc3545; } /* FEATURES */ .feature-box { background: white; padding: 30px; border-radius: 15px; height: 100%; box-shadow: 0 5px 20px rgba(0,0,0,.06); transition: .3s; } .feature-box:hover { transform: translateY(-8px); box-shadow: 0 15px 30px rgba(0,0,0,.12); } .feature-icon { width: 60px; height: 60px; border-radius: 50%; background: #fff0f1; color: #dc3545; display: flex; align-items: center; justify-content: center; font-size: 25px; } /* STATS */ .stats { background: #111; color: white; padding: 70px 0; } .stat h2 { font-size: 45px; font-weight: 800; color: #dc3545; } .stat p { color: #ccc; } /* BUTTON */ .btn-danger { padding: 13px 30px; border-radius: 8px; font-weight: 600; }
/* Mobile */
@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-box a:hover {
        transform: none;
    }
}



